@import "fonts";


$xx : red;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include Stalin
  }

@mixin btn {
    color: red;
    border-radius: 10px;
    background-color: black;
    padding: 7px 15px;
    @include Stalin
}


@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
  }
  
  .md-icon-16 {
    @include md-icon-size(16px);
  }
  
  .md-icon-18 {
    @include md-icon-size(18px);
  }
  
  .md-icon-24 {
    @include md-icon-size(24px);
  }
  
  .md-icon-36 {
    @include md-icon-size(36px);
  }

.btn {
    @include btn
}