@import "fonts";


$xx : red;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@mixin btn {
    color: white;
    border-radius: 10px;
    background-color: black;
    padding: 7px 15px;
}


.btn {
    @include btn
}